{% extends 'base.html.twig' %}

{% block body %}	
	{% if message is defined %}	

		<div class="alert alert-primary alert-dismissible contact-message">{{message}}</div>

	{% else %}

		<div class="contact-form">
			<div class="titlu-contact"><h3>Contacteaza-ne</h3></div>
			{{form_start(contactForm)}}
				
				{{form_widget(contactForm.name)}}
				{{form_errors(contactForm.name)}}

				{{form_widget(contactForm.email)}}
				{{form_errors(contactForm.email)}}

				{{form_widget(contactForm.message)}}
				{{form_errors(contactForm.message)}}
				
				<button type="submit" class="btn btn-primary">Trimite mesaj</button>
			{{form_end(contactForm)}}	
		</div>

	{% endif %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$( document ).ready(function() {
				
			$('a:contains("Contact")').parent().css({'color': '#000000', 'background-color': '#00769e'});
		});

	</script>
{% endblock %}